<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <button><a href="/chats/new">Create New Chat</a></button>
    <button><a href="/chats">View Existing Chats</a></button>
  </body>
</html>
