<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
    <link rel="stylesheet" href="/stylesheets/newChats.css" />
  </head>
  <body>
    <h1>Write Letter :</h1>
    <form action="/chats" method="post">
      <input type="text" name="to" placeholder="To :" /><br />
      <input type="text" name="message" placeholder="Message :" /><br />
      <input type="text" name="from" placeholder="From :" /><br />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
